.slicknav_menu {
	display: inline-block;
}


@media screen and (max-width: 1040em) {
	.js #menu {
		display:none;
		float: left;
	}
	
	.js .slicknav_menu {
		display: inline-block;
		padding: 3px 10px 1px;
	}
}